@define-color background-color #090E13;
@define-color border-color #43464E;
@define-color label #C5C9C7;
@define-color image #C5C9C7;
@define-color progress #e6c384;


/* Draw a new background */
window:not(:backdrop) #container,
window:backdrop #container {
    border: 2px solid @border-color;
    border-radius: 0px;
    background-color: @background-color;
    padding: 14px;
    background-clip: padding-box;

}